:root {
  --mdn-link-button-border-radius: 5px;
  --mdn-link-button-diameter: 20px;
  --mdn-link-button-gap: 0.2em;
  --mdn-link-container-padding: 0.1em;

  --mdn-container-border-radius: 8px;
  --mdn-container-padding: 1em;
}

:root[data-theme="light"] {
  --mdn-container-background: rgba(0, 0, 0, 0.05);
  --mdn-container-border: 2px solid rgba(0, 0, 0, 0.1);
}

:root[data-theme="dark"] {
  --mdn-container-background: rgba(0, 0, 0, 0.1);
  --mdn-container-border: 2px solid rgba(0, 0, 0, 0.2);
}

/* MDN layout ------------------------------------------------------------------------------------------------------- */

// .tsd-page-title h1 is wrapped with this div. And MDNLinks appended and aligned right.
.mdn-title-layout {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  container: mdn-title-wrapper / inline-size;

  h1 {
    margin-right: auto;
  }

  @container mdn-title-wrapper (min-width: 0) {
    h1 {
      font-size: clamp(1em, 4cqi, 3em);
    }
  }
}

// This expands the space and right aligns any associated MDNLinks web component appended to the flex layout.
.tsd-panel.tsd-member .tsd-anchor-link .tsd-anchor-icon {
  margin-right: auto;
}

/* Content ---------------------------------------------------------------------------------------------------------- */

// `Index` details element
.tsd-panel-group.tsd-index-group details {
  border: var(--mdn-container-border);
  padding: var(--mdn-container-padding);
  background: var(--mdn-container-background);
  border-radius: var(--mdn-container-border-radius);

  .tsd-index-heading {
    margin: 0
  }

  .tsd-accordion-details section:not(:last-child) {
    margin-bottom: 15px;
  }
}

/* Main Container --------------------------------------------------------------------------------------------------- */

.container {
  padding: 0 1rem;
  margin: 0 auto;
}

/* Sidebar ---------------------------------------------------------------------------------------------------------- */

// Hide `On This Page` when col-sidebar becomes activated and moves content to the left.
@media (max-width: 1200px) {
  .tsd-index-accordion.tsd-page-navigation {
    display: none;
  }
}

.site-menu {
  margin-top: 0;
}

.page-menu {
  display: flex;
  flex-direction: column;
  position: sticky;

  padding-left: 0.25rem;
  max-height: calc(100vh - 52px); // Header bar + 10px bottom margin space for `On This Page`.
  overflow: revert;

  /* Styling for sidebar `Settings` */
  .tsd-navigation.settings {
    border: var(--mdn-container-border);
    background: var(--mdn-container-background);
    border-radius: var(--mdn-container-border-radius);
    padding: var(--mdn-container-padding);

    margin-top: 10px;

    .tsd-filter-visibility h4 {
      padding-top: 0;
    }
  }

  /* Styling for sidebar `On This Page` */
  .tsd-index-accordion.tsd-page-navigation {
    border: var(--mdn-container-border);
    padding: var(--mdn-container-padding) 0 0 var(--mdn-container-padding);
    background: var(--mdn-container-background);
    border-radius: var(--mdn-container-border-radius);
    overflow: hidden;

    ul {
      padding-left: 0.5rem;
    }

    // Make the details content overflow / scrollbars.
    .tsd-accordion-details {
      overflow: auto;
      height: 100%;
    }
  }

  // All accordions
  details[open] .tsd-accordion-summary {
    padding-bottom: 10px;
    border-bottom: var(--mdn-container-border);
  }
}